<div class="container m-5">
  <div class="row align-items-start">
    <div class="col col-12">
      <h1  *ngIf="formConfig.title">{{formConfig.title}}</h1>
    </div>

  </div>
  <div class="row align-items-start">
    <div class="col col-12" *ngFor="let inputConfig of formConfig.inputs">
      <div class="mb-3">
        <mat-checkbox *ngIf="inputConfig.type === 'check'"
                      [(ngModel)]="obj[inputConfig.name]">{{inputConfig.title}}</mat-checkbox>

        <mat-form-field appearance="fill" *ngIf="inputConfig.type === 'text'">
          <mat-label>{{inputConfig.title}}</mat-label>
          <input matInput [(ngModel)]="obj[inputConfig.name]">
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="inputConfig.type === 'textarea' || inputConfig.type === 'text-array'">
          <mat-label>{{inputConfig.title}}</mat-label>
          <textarea [rows]="6" matInput [(ngModel)]="obj[inputConfig.name]"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="col col-12">
      <button type="button" class="btn btn-danger " >انصراف</button>
      <button type="button" class="btn btn-success" (click)="submit()">ارسال</button>
    </div>
  </div>
</div>
