<div class="home-component container">
  <!-- Button trigger modal -->
<!--  <button type="button" class="btn btn-primary"-->
<!--          (load)="open(demoModal)"-->
<!--          (click)="open(demoModal)"-->
<!--          data-toggle="modal" data-target="#exampleModal">-->
<!--    Launch demo modal-->
<!--  </button>-->

  <!-- Modal -->
  <div #demoModal class="modal fade" id="exampleModal"
       [style.display]="showModal ? 'block' : 'none'"
       [class.show]="showModal"
       tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          ورود به سامانه
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="col-12">
              <p>
                <mat-form-field appearance="outline">
                  <mat-label>نام کاربری</mat-label>
                  <input type="text" matInput [(ngModel)]="loginInfo.username" required>
                  <mat-icon matSuffix></mat-icon>
                </mat-form-field>
              </p>
            </div>
            <div class="col-12">
              <p>
                <mat-form-field appearance="outline">
                  <mat-label>کلمه عبور</mat-label>
                  <input matInput [attr.type]="hide ? 'password' : 'text'" [(ngModel)]="loginInfo.password" required>
                  <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    {{hide ? 'visibility_off' : 'visibility'}}
                  </mat-icon>
                </mat-form-field>
              </p>
            </div>
            <div class="col-12">
              <button mat-raised-button color="primary" (click)="login()">ورود</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
