.modal {
  z-index: 999;
}

.mat-form-field-wrapper {
  padding-bottom: 2px !important;
  margin-bottom: 2px !important;
}

.modal-background {
  background-color: aquamarine;
  background-size: cover;
  background-image: url('../../../assets/sms-login.png');
}

.modal-dialog {
  padding-right: 50px;
  padding-left: 50px;
}
