<section>
  <div class="container my-4">
    <a class="mx-2" mat-raised-button color="primary"
       [routerLink]="['/home/new']">درج مخاطب جدید</a>
    <a class="mx-2" mat-raised-button color="primary"
       [routerLink]="['/home/add-file']">افزودن از فایل</a>
    <a class="mx-2" mat-raised-button color="primary"
       [routerLink]="['/home/quick-add']">افزودن سریع</a>
    <a class="mx-2" mat-raised-button color="primary"
            [routerLink]="['/home/group-manager']">مدیریت گروه</a>
  </div>
</section>

<kendo-grid [data]="gridData" [height]="400" class="k-rtl"
            [filter]="state.filter"
            [filterable]="true"
            [pageable]="true" [pageSize]="10">
  <ng-template kendoGridToolbarTemplate>
    <button type="button" kendoGridExcelCommand icon="file-excel">Export to Excel</button>
  </ng-template>
  <kendo-grid-column field="Discontinued" title="" width="20" class="k-rtl" >
    <ng-template kendoGridCellTemplate let-dataItem>
      <input type="checkbox" [checked]="dataItem.Discontinued" />
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="ProductID" title="" width="15" class="k-rtl">
  </kendo-grid-column>
  <kendo-grid-column
    field="name" title="نام" width="40" class="k-rtl" >
  </kendo-grid-column>
  <kendo-grid-column field="lastName" title="نام خانوادگی" width="50" class="k-rtl">
  </kendo-grid-column>
  <kendo-grid-column field="company" title="شرکت" width="40" class="k-rtl">
  </kendo-grid-column>
  <kendo-grid-column field="tell" title="موبایل" width="50" class="k-rtl">
  </kendo-grid-column>
  <kendo-grid-column field="email" title="ایمیل" width="40" class="k-rtl">
  </kendo-grid-column>
  <kendo-grid-column field="Gender" title="جنسیت" width="40" class="k-rtl">
  </kendo-grid-column>
  <kendo-grid-column field="description" title="شرح" width="40" class="k-rtl">
  </kendo-grid-column>
  <kendo-grid-column field="Options" title="گزینه ها" width="40" class="k-rtl">
  </kendo-grid-column>
  <kendo-grid-column title="فعالیت" width="80" class="k-rtl">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button class="mx-2" mat-raised-button color="primary">ویرایش</button>
      <button class="mx-2" mat-raised-button color="primary">حذف</button>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-excel fileName="Products.xlsx"></kendo-grid-excel>
</kendo-grid>
<section class="mt-4">
<button class="mx-2" mat-raised-button color="primary">ارسال پیامک</button>
<button class="mx-2" mat-raised-button color="primary">حذف</button>
</section>
