<section>
  <div class="container my-4">
    <button class="mx-2" mat-raised-button color="primary">Primary</button>
    <button class="mx-2" mat-raised-button color="primary">Primary</button>
    <button class="mx-2" mat-raised-button color="primary">Primary</button>
    <a class="mx-2" mat-raised-button color="primary"
            [routerLink]="['/home/group-manager']">مدیریت گروه</a>
  </div>
</section>

<kendo-grid [data]="gridData" [height]="410" class="k-rtl">
  <kendo-grid-column field="Discontinued" title="Discontinued" width="120" class="k-rtl">
    <ng-template kendoGridCellTemplate let-dataItem>
      <input type="checkbox" [checked]="dataItem.Discontinued" disabled/>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="ProductID" title="ID" width="40" class="k-rtl">
  </kendo-grid-column>
  <kendo-grid-column field="ProductName" title="Name" width="250" class="k-rtl">
  </kendo-grid-column>
  <kendo-grid-column field="Category.CategoryName" title="Category" class="k-rtl">
  </kendo-grid-column>
  <kendo-grid-column field="UnitPrice" title="Price" width="80" class="k-rtl">
  </kendo-grid-column>
  <kendo-grid-column field="UnitsInStock" title="In stock" width="80" class="k-rtl">
  </kendo-grid-column>
</kendo-grid>
