<div class="container">
  <div class="row align-items-start justify-content-md-center">
    <div class="col col-md-6 text-center justify-content-md-center">
      <div class="container" style="box-shadow: 0px 10px 34px 5px rgb(100 0 0 / 44%);">
        <div class="row align-items-start my-header justify-content-md-center">
          <div class="col col-12 text-center">
            <div class="container">
              <div class="row align-items-start my-header px-3" style="margin-right: 0px">
                <div class="col col-md-auto">
                  <h4 style="color: #082843"><i class="fas fa-envelope" style="padding: 4px; font-size: 18px; border-radius: 16px; margin-left: 4px"></i>پنل ارسال پیامک</h4>
                </div>
              </div>

              <div class="row align-items-start my-form justify-content-center">
                <div class="col col-12">
                  <div class="row align-items-start justify-content-center">
                    <div class="col col-12 text-center">
                      <mat-form-field  appearance="outline" style="width:100%;">
                        <mat-label>شماره فرستنده</mat-label>
                        <mat-select required [(ngModel)]="model['senderNumber']">
                          <mat-option *ngFor="let sender of smsSenders"
                                      [value]="sender">{{sender}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row align-items-start justify-content-center">
                    <div class="col col-12 text-center">
                      <p class="pb-0 mb-0">
                        <mat-form-field appearance="outline" style="width:100%;">
                          <mat-label>شماره گیرندگان</mat-label>
                          <textarea required matInput [rows]="5" [(ngModel)]="model['recipient']"></textarea>
                          <mat-hint align="start">لطفا در هر خط یک شماره تلفن وارد نمایید</mat-hint>
                        </mat-form-field>
                      </p>
                    </div>
                  </div>
                  <div class="row align-items-start justify-content-center">
                    <div class="col col-12 text-center">
                      <div class="col-12 text-center pt-1">
                        <a href="#">متن پیش نویس</a>
                      </div>
                      <p>
                        <mat-form-field appearance="outline" style="width: 100%;">
                          <mat-label>متن پیامک</mat-label>
                          <textarea required matInput [rows]="10"
                                    [(ngModel)]="model['text']"></textarea>
                          <mat-hint align="end">{{model['text'].length || 0}}/80</mat-hint>
                          <mat-hint align="start">{{model['text'].length < 80 ? 'صفحه 1' : 'صفحه ' + ceil(model['text'].length / 80)}}</mat-hint>
                        </mat-form-field>
                      </p>
                    </div>
                  </div>
                  <div class="row align-items-start justify-content-center">
                    <div class="col col-12 ">
                      <div class="d-grid gap-2">
                        <button class="btn btn-outline-primary" mat-raised-button color="primary" (click)="send()" [disabled]="wait">
                          <mat-spinner  *ngIf="wait"></mat-spinner>
                          <span *ngIf="!wait">ارسال</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

