<div class="container">
  <div class="row align-items-start my-header">
    <div class="col col-6">
      <h1 style="color: blue" >انتخاب مخاطبین از دفترچه تلفن</h1>
    </div>
  </div>

<div class="row align-items-start my-form">
  <div class="col col-12 mb-5" appearance="outline">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <mat-checkbox class="checklist-leaf-node"
                      [checked]="checklistSelection.isSelected(node)"
                      (change)="todoLeafItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
      </mat-tree-node>

      <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <mat-form-field>
          <mat-label>New item...</mat-label>
          <input matInput #itemValue placeholder="Ex. Lettuce">
        </mat-form-field>
        <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
      </mat-tree-node>

      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.item">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <mat-checkbox [checked]="descendantsAllSelected(node)"
                      [indeterminate]="descendantsPartiallySelected(node)"
                      (change)="todoItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
        <!--    <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>-->
      </mat-tree-node>
    </mat-tree>
  </div>

  <div class="col col-6" appearance="outline">
    <mat-form-field appearance="outline">
      <input #dateInput matInput [matDatepicker]="picker" [(ngModel)]="date"
             (change)="dateChange($event,dateInput,picker)" placeholder="انتخاب تاریخ">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="col col-6" appearance="outline">
    <mat-form-field appearance="outline">
      <mat-label>انتخاب ساعت</mat-label>
      <input type="time" matInput [(ngModel)]="time">
    </mat-form-field>
  </div>

<section>
  <div class="container my-4">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button class="btn btn-primary" mat-raised-button color="primary">تایید</button>
      <button class="btn btn-primary" mat-raised-button color="primary">انصراف</button>
    </div>
  </div>
</section>
</div>
</div>


