<div class="container mb-4">
  <div class="row align-items-start justify-content-md-right" *ngIf="pageId == 'master'" >
    <div class="col col-md-6 text-center justify-content-md-center">
      <div class="container" style="box-shadow: 0px 10px 34px 5px rgb(100 80 80 / 44%);">
        <div class="row align-items-start my-header justify-content-md-center">
          <div class="col col-12 text-center">
            <div class="container">
              <div class="row align-items-start my-header px-3" style="margin-right: 0px">
                <div class="col col-md-auto">
                  <h4 style="color: #082843">
                    <i class="fas fa-envelope" style="padding: 4px; font-size: 18px; border-radius: 16px; margin-left: 4px"></i>پنل ارسال گروهی</h4>
                </div>
              </div>

              <div class="row align-items-start my-form justify-content-center">
                <div class="col col-12">
                  <div class="row align-items-start justify-content-center">
                    <div class="col col-12 text-center">
                      <mat-form-field  appearance="outline" style="width:100%;">
                        <mat-label>شماره فرستنده</mat-label>
                        <mat-select required [(ngModel)]="model['senderNumber']" appearance="fill">

                          <mat-option *ngFor="let sender of smsSenders"
                                      [value]="sender">{{sender}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <!--<div class="row align-items-start justify-content-center">
                    <div class="col col-12 text-center">
                      <p class="pb-0 mb-0">
                        <mat-form-field appearance="outline" style="width:100%;">
                          <mat-label>شماره گیرندگان</mat-label>
                          <textarea required matInput [rows]="5" [(ngModel)]="model['recipient']"></textarea>
                          <mat-hint align="start">لطفا در هر خط یک شماره تلفن وارد نمایید</mat-hint>
                        </mat-form-field>
                      </p>
                    </div>
                  </div>-->
                  <div class="row align-items-start justify-content-center">
                    <div class="col col-12 text-center">
                      <div class="col-12 text-center pt-1">
                        <a href="#">متن پیش نویس</a>
                      </div>
                      <p>
                        <mat-form-field appearance="outline" style="width: 100%;">
                          <mat-label>متن پیامک</mat-label>
                          <textarea required matInput [rows]="10"
                                    [(ngModel)]="model['text']"></textarea>
                          <mat-hint align="end">{{model['text'].length || 0}}/80</mat-hint>
                          <mat-hint align="start">{{model['text'].length < 80 ? 'صفحه 1' : 'صفحه ' + ceil(model['text'].length / 80)}}</mat-hint>
                        </mat-form-field>
                      </p>
                    </div>
                  </div>
                  <div class="row align-items-start justify-content-start">
                    <div class="col col-auto">
                      <div class="pb-1 mb-2 align-items-start justify-content-start" style="text-align: right" >
                        <label id="inputType">نحوه ورود مخاطبین</label>
                      </div>

                        <mat-radio-group aria-labelledby="inputType"
                                         [(ngModel)]="model.inputType">

                          <mat-radio-button
                            [disabled]="false"
                            class="px-1"
                            [checked]="false"
                            [value]="'direct'">وارد کردن مستقیم شماره ها</mat-radio-button>

                          <mat-radio-button
                            [disabled]="true"
                            class="px-1"
                            [checked]="false"
                            [value]="2">دفتر تلفن</mat-radio-button>

                          <mat-radio-button
                            [disabled]="false"
                            class="px-1"
                            [checked]="true"
                            [value]="'text-file'">فایل متن</mat-radio-button>
                        </mat-radio-group>
                    </div>

                  </div>
                  <div class="row align-items-start mb-4">
                    <div class="col col-auto ">
                      <span *ngIf="model.inputType == 0 || !readyToSend">&nbsp;</span>
                      <span *ngIf="model.inputType == 3 && readyToSend"
                            style="color: #109410">فایل با موفقیت انتخاب شد</span>
                    </div>
                  </div>
                  <div class="row "><!--align-items-start justify-content-center-->
                    <div class="col col-auto ">
<!--                      <div class="d-grid gap-2">-->
                        <!--<button *ngIf="model.inputType == 0 || readyToSend" class="btn btn-outline-primary" mat-raised-button color="primary"
                                 (click)="send()" [disabled]="wait">
                          <mat-spinner  *ngIf="wait"></mat-spinner>
                          <span *ngIf="!wait">ارسال</span>
                        </button>-->
<!--                        <button *ngIf="model.inputType == 3 && !readyToSend" class="btn btn-outline-primary" mat-raised-button color="primary"-->
                        <button class="btn btn-outline-primary" mat-raised-button
                                (click)="nextStep()" [disabled]="wait">
                          <span >مرحله بعد</span>
                        </button>
<!--                      </div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-md-6 text-center justify-content-md-center">
      <div class="container" style="box-shadow: 0px 10px 34px 5px rgb(100 80 80 / 44%);">
        <div class="row align-items-start my-header justify-content-md-center">
          <div class="col col-12 text-center">
            <div class="container pb-2">
              <div class="row align-items-start my-header px-3" style="margin-right: 0px">
                <div class="col col-auto">
                  <h4 col col-2 style="color: #082843">
                    <i class="far fa-question-circle" style="padding: 4px; font-size: 18px; border-radius: 16px; margin-left: 4px;color: crimson"></i >راهنما : ارسال گروهی</h4>
                </div>
              </div>
              <div class="row align-items-start  px-1 pt-2" style="margin-right: 10px">
                <mat-accordion class="example-headers-align" multi style="width: 100%;">
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        شماره فرستنده
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>شماره ای است که شما قصد ارسال پیام به وسیله آن را دارید و بعد از ارسال پیام، این شماره به عنوان شماره فرستنده روی گوشی مخاطبینتان نمایش داده می شود.</p>
                  </mat-expansion-panel>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                       متن پیامک
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>متنی است که قصد ارسال آن را دارید.در زیر قسمتی که متن پیام را وارد می کنید،عداد صفحات، هم چنین تعداد حروفی که نوشته شده و تعداد حروف مجاز برای یک صفحه، نمایش داده می شود. (توجه داشته باشید که در ارسال پیام تعداد صفحات در تعرفه پیامک شما ضرب می شود.)</p>
                  </mat-expansion-panel>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        نحوه وارد کردن مخاطبین از طربق فایل متنی
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>اگر شماره های مخاطبین شما در دفترچه تلفن شما نباشند میتوانید آنها را در فایل متنی نیز ذخیره کنید.
                      دقت نمایید که فایل متنی ورودی باید حتما مانند فایل نمونه باشد.
                      (همان فایل نمونه دانلود وشماره ها برروی همان فایل وارد شود)</p>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-start justify-content-md-right" *ngIf="pageId == 'direct'" >
    <div class="col col-md-6 text-center justify-content-md-center">
      <div class="container" style="box-shadow: 0px 10px 34px 5px rgb(100 80 80 / 44%);">
        <div class="row align-items-start my-header justify-content-md-center">
          <div class="col col-12 text-center">
            <div class="container">
              <div class="row align-items-start my-header px-3" style="margin-right: 0px">
                <div class="col col-md-auto">
                  <h4 style="color: #082843">
                    <i class="fas fa-envelope" style="padding: 4px; font-size: 18px; border-radius: 16px; margin-left: 4px"></i>ارسال گروهی - مرحله دوم (وارد کردن مستقیم شماره ها)ا</h4>
                </div>
              </div>

              <div class="row align-items-start my-form justify-content-center">
                <div class="col col-12">

                  <div class="row align-items-start justify-content-center mb-2">
                    <div class="col col-12 text-center">
                      <p class="pb-0 mb-0">
                        <mat-form-field appearance="outline" style="width:100%;">
                          <mat-label>شماره گیرندگان</mat-label>
                          <textarea required matInput [rows]="5" [(ngModel)]="model['recipient']"></textarea>
                          <mat-hint align="start">لطفا در هر خط یک شماره تلفن وارد نمایید</mat-hint>
                        </mat-form-field>
                      </p>
                    </div>
                  </div>

                  <div class="row "><!--align-items-start justify-content-center-->
                    <div class="col col-auto">
                      <!--            <div class="d-grid gap-2">-->
                      <button class="btn btn-primary" mat-raised-button
                              (click)="backToMaster()" [disabled]="wait">
                        <span>مرحله قبل</span>
                      </button>

                      <button class="btn btn-success mx-2" mat-raised-button
                              (click)="send()" [disabled]="wait">
                        <mat-spinner  *ngIf="wait"></mat-spinner>
                        <span *ngIf="!wait">ارسال</span>
                      </button>
                      <!--            </div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-md-6 text-center justify-content-md-center">
      <div class="container" style="box-shadow: 0px 10px 34px 5px rgb(100 80 80 / 44%);">
        <div class="row align-items-start my-header justify-content-md-center">
          <div class="col col-12 text-center">
            <div class="container pb-2">
              <div class="row align-items-start my-header px-3" style="margin-right: 0px">
                <div class="col col-auto">
                  <h4 col col-2 style="color: #082843">
                    <i class="far fa-question-circle" style="padding: 4px; font-size: 18px; border-radius: 16px; margin-left: 4px;color: crimson"></i >راهنما : ارسال گروهی</h4>
                </div>
              </div>
              <div class="row align-items-start  px-1 pt-2" style="margin-right: 10px">
                <mat-accordion class="example-headers-align" multi style="width: 100%;">
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title >
                        عنوان ارسال
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>در این فیلد شما یک عنوان برای ارسالتان مشخص می کنید. عنوان ارسال تنها مربوط به خودتان می باشد و به هیچ وجه برای مخاطبین ارسال نمیشود. این قسمت بیشتر برای راحتی کار شما در گزارشگیری و پی گیری ارسالهایتان در ارسال انبوه گنجانده شده.</p>
                  </mat-expansion-panel>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        شماره فرستنده
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>شماره ای است که شما قصد ارسال پیام به وسیله آن را دارید و بعد از ارسال پیام، این شماره به عنوان شماره فرستنده روی گوشی مخاطبینتان نمایش داده می شود.</p>
                  </mat-expansion-panel>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        متن پیامک
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>متنی است که قصد ارسال آن را دارید.در زیر قسمتی که متن پیام را وارد می کنید،عداد صفحات، هم چنین تعداد حروفی که نوشته شده و تعداد حروف مجاز برای یک صفحه، نمایش داده می شود. (توجه داشته باشید که در ارسال پیام تعداد صفحات در تعرفه پیامک شما ضرب می شود.)</p>
                  </mat-expansion-panel>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        نحوه وارد کردن مخاطبین از طربق فایل متنی
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>اگر شماره های مخاطبین شما در دفترچه تلفن شما نباشند میتوانید آنها را در فایل متنی نیز ذخیره کنید.
                      دقت نمایید که فایل متنی ورودی باید حتما مانند فایل نمونه باشد.
                      (همان فایل نمونه دانلود وشماره ها برروی همان فایل وارد شود)</p>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-start justify-content-md-right" *ngIf="pageId == 'text-file'">
    <div  class="col col-md-6 text-center justify-content-md-center">
      <div class="container" style="box-shadow: 0px 10px 34px 5px rgb(100 80 80 / 44%);">
        <div class="row align-items-start my-header px-3" style="margin-right: 0px; padding-top: 13px">
          <div class="col col-md-auto">
            <h4 style="color: #082843">
              <i class="fas fa-envelope" style="padding: 4px; font-size: 18px; border-radius: 16px; margin-left: 4px"></i>انتخاب فایل متنی</h4>
          </div>
        </div>

        <div class="row align-items-start my-header pb-3" style="border-bottom: none">
          <div class="col col-auto">
            <ng-container>
              <mat-file-upload
                [labelText]="'فایل اکسل مخاطبین'"
                [selectButtonText]="'انتخاب کنید'"
                [selectFilesButtonType]="'button'"
                [uploadButtonText]="'ارسال'"
                [uploadButtonType]="'submit'"
                [allowMultipleFiles]="false"
                [showUploadButton]="false"
                [customSvgIcon]="'close_custom'"
                [acceptedTypes]="'.txt'"
                (uploadClicked)="onUploadClicked($event)"
                (selectedFilesChanged)="onSelectedFilesChanged($event)"
              >
              </mat-file-upload>
            </ng-container>
          </div>
        </div>

        <div class="row align-items-start mb-4">
          <div class="col col-auto ">
            <span *ngIf="model.inputType == 'master' || !readyToSend">&nbsp;</span>
            <span *ngIf="model.inputType == 'text-file' && readyToSend"
                  style="color: #109410">فایل با موفقیت انتخاب شد</span>
          </div>
        </div>

        <div class="row  pb-2">
          <div class="col col-auto">
            <button class="btn btn-primary" mat-raised-button
                    (click)="backToMaster()" [disabled]="wait">
              <span>مرحله قبل</span>
            </button>
            <button *ngIf="readyToSend" class="btn btn-success mx-2" mat-raised-button
                    (click)="groupSend()" [disabled]="wait">
              <mat-spinner  *ngIf="wait"></mat-spinner>
              <span *ngIf="!wait">ارسال</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-md-6 text-center justify-content-md-center">
      <div class="container" style="box-shadow: 0px 10px 34px 5px rgb(100 0 0 / 44%);">
        <div class="row align-items-start my-header justify-content-md-center">
          <div class="col col-12 text-center">
            <div class="container pb-2">
              <div class="row align-items-start my-header px-3" style="margin-right: 0px">
                <div class="col col-auto">
                  <h4 col col-2 style="color: #082843">
                    <i class="far fa-question-circle" style="padding: 4px; font-size: 18px; border-radius: 16px; margin-left: 4px;color: crimson"></i >راهنما : ارسال گروهی</h4>
                </div>
              </div>
              <div class="row align-items-start  px-1 pt-2" style="margin-right: 10px">
                <mat-accordion class="example-headers-align" multi style="width: 100%;">
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title >
                        وارد کردن مخاطبین ازفایل متنی
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>در این فیلد شما یک عنوان برای ارسالتان مشخص می کنید. عنوان ارسال تنها مربوط به خودتان می باشد و به هیچ وجه برای مخاطبین ارسال نمیشود. این قسمت بیشتر برای راحتی کار شما در گزارشگیری و پی گیری ارسالهایتان در ارسال انبوه گنجانده شده.</p>
                  </mat-expansion-panel>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        شماره فرستنده
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>شماره ای است که شما قصد ارسال پیام به وسیله آن را دارید و بعد از ارسال پیام، این شماره به عنوان شماره فرستنده روی گوشی مخاطبینتان نمایش داده می شود.</p>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







