/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: IranianSans;
  src: url(./assets/Iranian_Sans.ttf);
}

*:not(.material-icons) {
  font-family: IranianSans !important;
}

html, body { height: 100%; }

body { margin: 0; }

button:focus { outline:0; }
