/* You can add global styles to this file, and also import other style files */
/*.k-rtl .k-grid-aria-root .k-grid-header {*/
.k-grid-header {
  padding: 0px 0px 0px 17px !important;
}

@font-face {
  font-family: IRANSansWeb;
  src: url(./assets/IRANSansWeb.woff);
}

*:not(.material-icons, .fa, .far, .fas, .fab, .k-icon) {
  font-family: IRANSansWeb;
}

html, body { height: 100%; }
body { margin: 0; }

button:focus {outline:0;}

span.k-i-file-excel {
  padding: 4px 8px;
}
