
<!--<app-mt-form-maker [formConfig]="formConfig" (submitClick)="onSubmit($event)"></app-mt-form-maker>-->

<div class="container m-5">
  <div class="row align-items-start">
    <div class="col col-6">
      <h1 >ارسال مستقیم</h1>
    </div>
  </div>
</div>
<div class="row align-items-start">
  <div class="col col-6" appearance="outline">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>شماره گیرندگان</mat-label>
        <textarea matInput [rows]="6"></textarea>
      </mat-form-field>
    </p>
  </div>
  <div class="col col-6">
    <mat-form-field appearance="outline">
      <input #dateInput matInput [matDatepicker]="picker" [(ngModel)]="date"
             (change)="dateChange($event,dateInput,picker)" placeholder="انتخاب تاریخ">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col col-6" appearance="outline">
    <mat-form-field appearance="outline">
      <mat-label>انتخاب ساعت</mat-label>
      <input type="time" matInput [(ngModel)]="time">
    </mat-form-field>
  </div>
</div>


<section>
  <div class="container my-4">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button class="btn btn-primary" mat-raised-button color="primary">مرحله قبل</button>
      <button class="btn btn-primary" mat-raised-button color="primary">مرحله بعد</button>
    </div>
  </div>
</section>
